.cargando {
    backdrop-filter: sepia(95%);
    background-color: rgba(210, 209, 213, 0.5);
    box-sizing: border-box;
    color: rgb(34, 8, 230);
    display: flex;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
.cargando > p {
    margin-left: 100px;
}